{{ define "layout/base.html" }}
<!doctype html>
<html lang="en"
      data-layout-width="boxed"
      data-topbar="dark"
      data-preloader="disable"
      data-card-layout="borderless"
      data-bs-theme="light"
      data-topbar-image="pattern-1">
    <head>
        <meta charset="utf-8" />
        <!-- penting untuk responsive di HP -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>
            {{ if .Title }}
                {{ .Title }}
            {{ else }}
                Stock Hadiah App
            {{ end }}
        </title>

        <!-- Bootstrap Css -->
        <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        <!-- Plugin js (kalau perlu di-head) -->
        <script src="/assets/js/plugin.js"></script>
    </head>
    <body data-sidebar="dark">
        <div id="layout-wrapper">
            {{ template "header" . }}
            {{ template "sidebar" . }}
        </div>

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    {{ if eq .Page "dashboard" }}
                        {{ template "dashboard_content" . }}
                    {{ else if eq .Page "supplier" }}
                        {{ template "supplier_content" . }}
                    {{ else if eq .Page "item" }}
                        {{ template "item_content" . }}
                    {{ else if eq .Page "program" }}
                        {{ template "program_content" . }}
                    {{ end }}
                </div>
            </div>
            {{ template "footer" . }}
        </div>

        <!-- JAVASCRIPT -->
        <script src="/assets/libs/jquery/jquery.min.js"></script>
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>

        <!-- apexcharts -->
        <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

        <!-- dashboard init -->
        <script src="/assets/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="/assets/js/app.js"></script>
    </body>
</html>
{{ end }}
