{{ define "sidebar" }}
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="/dashboard" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect has-arrow">
                        <i class="bx bx-cog"></i>
                        <span key="t-layouts">Master Data</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="supplier" key="t-login">Suplier</a></li>
                        <li><a href="item" key="t-login-2">Barang</a></li>
                        <li><a href="program" key="t-login-2">Program</a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-pages">APPS</li>

                <li>
                    <a href="/item-in" class="waves-effect">
                        <i class="bx bxs-archive-in"></i>
                        <span key="b-masuk">Barang Masuk</span>
                    </a>
                </li>
                <li>
                    <a href="/item-out" class="waves-effect">
                        <i class="bx bxs-archive-out"></i>
                        <span key="b-keluar">Barang Keluar</span>
                    </a>
                </li>
                <li>
                    <a href="/stock-report" class="waves-effect">
                        <i class="bx bxs-spreadsheet"></i>
                        <span key="t-laporan">Laporan Stok</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
{{ end }}
